{% extends "base.html" %}

{% block menu %}
{% include "feeder_list_menu.html" %}
{% endblock %}

{% block title %}SUBSTATION ONEDAY{% endblock %}
{% block table %} 
<table class='tab1'>
<caption>
SUBSTATION ONEDAY
{{ssid}}--{{day}}
</caption>
<thead><tr>
<td>TIME</td>
<td>VAL</td>
<td>NULL</td>
<td>NONE</td>
</tr></thead>
<tbody>
{% for pnt in points %}
<tr>
<td>{{pnt.time}}</td>
<td>{{pnt.data}}</td>
<td>{{pnt.null}}</td>
<td>{{pnt.none}}</td>
</tr>
{% endfor %}
{% endblock %}

