{% extends "base.html" %}

{% block menu %}
{% include "wk5x2_menu.html" %}
{% endblock %}

AAAA

{% block title %}
{{title}}
{% endblock %}

<table class='sel'>
<tbody>
<tr>
<td>
===
</td>
<td>
{% block table %} 
<table class='tab1'>
<caption>
=={{title}}==
</caption>
<thead><tr>
{% for c in self.repo().cols %}
<td>{{c}}</td>
{% endfor %}
</tr></thead>
<tbody>
{% for r in 0..self.repo().rows.len() %}
<tr>
{% for c in 0..self.repo().cols.len() %}
<td>{{self.cell(r,c)}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}
</td></tr>
<tbody>
</table>
