<html lang="en">
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.QTR {
  width:23%;  
  display:inline-block;
}
</style>
 </head>
 <body>

<div style="width:100%; valign: top; text-align: center;">
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2024?wd=400&hg=300">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2025?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2026?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2027?wd=400&hg=300&mode=Q4">
</div>
</div>

<div style="width:100%; text-align: center;">
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2028?wd=400&hg=300&mode=Q1">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2029?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2030?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2031?wd=400&hg=300&mode=Q4">
</div>
</div>

<div style="width:100%; text-align: center;">
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2032?wd=400&hg=300&mode=Q1">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2033?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2034?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2035?wd=400&hg=300&mode=Q4">
</div>
</div>

<div style="width:100%; text-align: center;">
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2036?wd=400&hg=300&mode=Q1">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2037?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2038?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR">
  <img src="/sb_gr_dr5/{{sub}}/2039?wd=400&hg=300&mode=Q4">
</div>
</div>


</body>
</html>

