<html lang="en">
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.QTR {
  width:23%;  
  display:inline-block;
}
</style>
 </head>
 <body>

<div style="width:100%">
  <img src="{{WEBROOT}}/sb_gr_dr3/{{sub}}?wd=800&hg=400">
</div>

<div style="width:100%">
<div class="QTR"> 2024
  <a href='{{WEBROOT}}/lp_sub_calc/{{sub}}/{{2024}}' target="_blank">
    <img src="{{WEBROOT}}/sb_gr_dr2/{{sub}}/2024?wd=400&hg=300">
  </a>
</div>
<div class="QTR"> 2023
  <a href='{{WEBROOT}}/lp_sub_calc/{{sub}}/{{2023}}' target="_blank">
    <img src="{{WEBROOT}}/sb_gr_dr2/{{sub}}/2023?wd=400&hg=300">
  </a>
</div>
<div class="QTR"> 2022
  <a href='{{WEBROOT}}/lp_sub_calc/{{sub}}/{{2022}}' target="_blank">
    <img src="{{WEBROOT}}/sb_gr_dr2/{{sub}}/2022?wd=400&hg=300">
  </a>
</div>
<div class="QTR"> 2021
  <a href='{{WEBROOT}}/lp_sub_calc/{{sub}}/{{2021}}' target="_blank">
    <img src="{{WEBROOT}}/sb_gr_dr2/{{sub}}/2021?wd=400&hg=300">
  </a>
</div>
</div>

<div style="width:100%; valign: top; text-align: center;">
<div class="QTR"> 2024Q1
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2024?wd=400&hg=300&mode=Q1">
</div>
<div class="QTR"> 2024Q2
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2024?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR"> 2024Q3
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2024?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR"> 2024Q4
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2024?wd=400&hg=300&mode=Q4">
</div>
</div>

<div style="width:100%; text-align: center;">
<div class="QTR"> 2023Q1
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2023?wd=400&hg=300&mode=Q1">
</div>
<div class="QTR"> 2023Q2
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2023?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR"> 2023Q3
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2023?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR"> 2023Q4
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2023?wd=400&hg=300&mode=Q4">
</div>
</div>

<div style="width:100%; text-align: center;">
<div class="QTR"> 2022Q1
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2022?wd=400&hg=300&mode=Q1">
</div>
<div class="QTR"> 2022Q2
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2022?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR"> 2022Q3
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2022?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR"> 2022Q4
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2022?wd=400&hg=300&mode=Q4">
</div>
</div>

<div style="width:100%; text-align: center;">
<div class="QTR"> 2021Q1
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2021?wd=400&hg=300&mode=Q1">
</div>
<div class="QTR"> 2021Q2
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2021?wd=400&hg=300&mode=Q2">
</div>
<div class="QTR"> 2021Q3
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2021?wd=400&hg=300&mode=Q3">
</div>
<div class="QTR"> 2021Q4
  <img src="{{WEBROOT}}/sb_gr_dr4/{{sub}}/2021?wd=400&hg=300&mode=Q4">
</div>
</div>


</body>
</html>

